/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.root{
	-fx-background-color: #000;
}

.label{
	-fx-font-size: 14px;
	-fx-font-weight: bold;
	-fx-text-fill: #fff;
}

.root{
    -fx-background-color: #123;	
}

.radio-button{
	-fx-font-weight: bold;
	-fx-text-fill: #fff;
}